.card-background-page {
    
    .center-activity-image {
        object-fit: cover;
        height: 46vh;
    }

    .outer-activity-image {
        object-fit: cover;
        height: 24vh;
    }

    ion-card {
        position: relative;
        text-align: center;
    }
    
    .ion-center-card {
        position: relative;
        text-align: center;
        height: 50vh;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .ion-outer-card {
        position: relative;
        text-align: center;
        height: 18vh;
        padding-top: 10px;
        padding-bottom: 10px;
    } 

    .card-title {
        position: absolute;
        top: 40%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
        
}

