<ion-navbar *navbar>
  <ion-title>Actively</ion-title>
</ion-navbar>

<ion-content class="card-background-page">

  <!--<pre>{{activities || json}}</pre>-->

  <ion-card class="ion-outer-card">
    <ion-slides loop="true" (click)="openModal({activityNum: 0})">
      <ion-slide *ngFor="let activity of activities | orderby">
        <ion-card>
          <img class="outer-activity-image" [src]="activity.image" />
          <div class="card-title">{{activity.title}}</div>
          <div class="card-subtitle">{{activity.subtitle}}</div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="ion-center-card">
    <ion-slides loop="true" (click)="openModal({activityNum: 0})">
      <ion-slide *ngFor="let activity of activities | orderby">
        <ion-card>
          <img class="center-activity-image"[src]="activity.image" />
          <div class="card-title">{{activity.title}}</div>
          <div class="card-subtitle">{{activity.subtitle}}</div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="ion-outer-card">
    <ion-slides loop="true" (click)="openModal({activityNum: 0})">
      <ion-slide *ngFor="let activity of activities | orderby">
        <ion-card>
          <img class="outer-activity-image" [src]="activity.image" />
          <div class="card-title">{{activity.title}}</div>
          <div class="card-subtitle">{{activity.subtitle}}</div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>

</ion-content>